  <h1 class="mb-4">Articles</h1>

  <% @articles.each do |article| %>
    <div class="mb-4">
      <!-- Titel -->
      <h3 class="text-primary">
        <%= link_to article.title, article_path(article) %>
      </h3>

      <!-- Auszug vom Content -->
      <p class="text-muted">
        <%= truncate(article.content, length: 50) %>
      </p>
    </div>
  <% end %>
